*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
    
    
}
.color-orange{
    color: #FD6E0A;
}
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3 ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}
nav{
    width: 72%;
    max-width: 1140px;
    align-items: center;
  
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .manu{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style-type:none;
}
nav .manu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    

}

#banner .banner-content{
    max: width 585px;
     ;
}
#banner{
   
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content h2{
    font-size: 42px;
    font-weight: 600;
   margin-bottom: 5px;
    color: #474747;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img{

    max-width: 585px;
    vertical-align: middle;


}
